[aws]
disabled = true

[gcloud]
disabled = true

[azure]
disabled = true

[cmd_duration]
min_time = 500
format = 'underwent [$duration](bold yellow)'

[directory]
truncation_length = 255
truncate_to_repo = false
use_logical_path = false
